- var theme_customizer      = true;
- var apex                  = true;
- var apexmoment            = true;
- var dashboard_default     = true;
- var page_datatable        = true;
- var datatable             = true;
- var vector_map            = true;
- var page_vector_map       = true;
- var page_datatable1       = true;
- var notify                = true;
- var animate               = true;
- var typeahead             = true;
- var typeahead_search      = true;
- var sidebar               = true;
- var scrollbar             = true;
- var clock                 = true;
- var calendar              = true;
- var date_picker           = true;
- var coustom_calendar      = true;
- var header_slider         = true;
doctype html
html(lang='en')
  include ../../components/header-files
  body(onload='startTime()')
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      include ../../components/header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          .container-fluid         
            .page-title
              .row
                .col-sm-6.p-0
                  h3
                    | Default Dashboard 
                .col-sm-6.p-0
                  ol.breadcrumb
                    li.breadcrumb-item
                      a(href='index.html')
                        svg.stroke-icon
                          use(href='../assets/svg/icon-sprite.svg#stroke-home')
                    li.breadcrumb-item Dashboard
                    li.breadcrumb-item.active Default      
          // Container-fluid starts
          .container-fluid.default-dashboard
            .row
              .col-xl-4.col-lg-4.col-md-7.box-col-4 
                .card.welcome-card
                  .card-body
                    .d-flex 
                      .flex-grow-1 
                        h1 Hello,Anna Miller.
                        p Welcome to the Admin clan! We appreciate your interest in our dashboard.
                        a.btn(href="list-products.html") Go Premium
                      .flex-shrink-0  
                        img(src='../assets/images/dashboard/welcome.png' alt="")
                      div   
                        .clockbox
                          svg#clock(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600')
                            g#face
                              circle.circle(cx='300' cy='300' r='253.9')
                              path.hour-marks(d='M300.5 94V61M506 300.5h32M300.5 506v33M94 300.5H60M411.3 107.8l7.9-13.8M493 190.2l13-7.4M492.1 411.4l16.5 9.5M411 492.3l8.9 15.3M189 492.3l-9.2 15.9M107.7 411L93 419.5M107.5 189.3l-17.1-9.9M188.1 108.2l-9-15.6')
                              circle.mid-circle(cx='300' cy='300' r='16.2')
                            g#hour
                              path.hour-hand(d='M300.5 298V142')
                              circle.sizing-box(cx='300' cy='300' r='253.9')
                            g#minute
                              path.minute-hand(d='M300.5 298V67')    
                              circle.sizing-box(cx='300' cy='300' r='253.9')
                            g#second
                              path.second-hand(d='M300.5 350V55')
                              circle.sizing-box(cx='300' cy='300' r='253.9')    
                          .badge.f-10.p-0#txt
              .col-xl-2.col-xl-25.col-md-5.col-sm-6.box-col-3
                .card.earning-card
                  .card-header 
                    .header-top
                      h5 Total Earnings
                      .dropdown.icon-dropdown
                        button.btn.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                          i.icon-more-alt
                        .dropdown-menu.dropdown-menu-end
                          a.dropdown-item(href='#') Weekly
                          a.dropdown-item(href='#') Monthly
                          a.dropdown-item(href='#') Yearly
                  .card-body.p-0
                    #Earnings-chart
                    .d-flex.p-3.pt-0
                      h2.me-2 $ 12,463
                      span.bg-light-danger
                        svg
                          use(href='../assets/svg/icon-sprite.svg#down-arrow') 
                      h6.font-danger + 20.08%
              .col-xl-2.col-md-5.col-sm-6.expenses-card
                .card.earning-card
                  .card-header 
                    .header-top
                      h5 Total Expenses
                      .dropdown.icon-dropdown
                        button.btn.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                          i.icon-more-alt
                        .dropdown-menu.dropdown-menu-end
                          a.dropdown-item(href='#') Weekly
                          a.dropdown-item(href='#') Monthly
                          a.dropdown-item(href='#') Yearly
                  .card-body.p-0
                    #Expenses-chart.expenses-chart
                    .d-flex.p-3.pt-0
                      h2.me-2 $ 14,852
                      span.bg-light-success
                        svg
                          use(href='../assets/svg/icon-sprite.svg#up-arrow') 
                      h6.font-success + 60.09%
              .col-xl-4.col-xl-40.col-md-7.box-col-5e
                .card.selling-product
                  .card-header.pb-0
                    .header-top
                      h4 Top Selling Product
                      .dropdown.icon-dropdown
                        button.btn.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                          i.icon-more-alt
                        .dropdown-menu.dropdown-menu-end
                          a.dropdown-item(href='#') Weekly
                          a.dropdown-item(href='#') Monthly
                          a.dropdown-item(href='#') Yearly
                  .card-body 
                    .table-responsive.custom-scrollbar
                      table.table.display(style='width:100%')
                        tbody
                          tr
                            td
                              .d-flex
                                span.bg-light-primary
                                  img(src='../assets/images/dashboard/product/1.png' alt="")
                                .flex-grow-1.ms-2
                                  a(href="list-products.html")
                                    span Sneaker Shoes
                                    h5 #A5647KB
                            td 
                              span Coupon code
                              h5 PIX001
                            td 
                              img(src='../assets/images/dashboard/flag/1.png' alt="")
                            td 
                              span -51%
                              h5 $99.00
                          tr
                            td
                              .d-flex
                                span.bg-light-primary
                                  img(src='../assets/images/dashboard/product/2.png' alt="")
                                .flex-grow-1.ms-2
                                  a(href="list-products.html")
                                    span Sweat Shirt
                                    h5 #NB86H2E
                            td 
                              span Coupon code
                              h5 PIX002
                            td 
                              img(src='../assets/images/dashboard/flag/2.png' alt="")
                            td 
                              span -78%
                              h5 $66.00
                          tr
                            td
                              .d-flex
                                span.bg-light-primary
                                  img(src='../assets/images/dashboard/product/3.png' alt="")
                                .flex-grow-1.ms-2
                                  a(href="list-products.html")
                                    span Nike Travel Bag
                                    h5 #UB654GH
                            td 
                              span Coupon code
                              h5 PIX003
                            td 
                              img(src='../assets/images/dashboard/flag/3.png' alt="")
                            td 
                              span -04%
                              h5 $116.00
                          tr
                            td
                              .d-flex
                                span.bg-light-primary
                                  img(src='../assets/images/dashboard/product/4.png' alt="")
                                .flex-grow-1.ms-2
                                  a(href="list-products.html")
                                    span Monster Cap
                                    h5 #BAS4567
                            td 
                              span Coupon code
                              h5 PIX004
                            td 
                              img(src='../assets/images/dashboard/flag/4.png' alt="")
                            td 
                              span -60%
                              h5 $99.00
              .col-xl-7.col-lg-7.box-col-7
                .card
                  .card-header.pb-0
                    .header-top
                      h4 Recent Order 
                      .dropdown.icon-dropdown
                        button.btn.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                          i.icon-more-alt
                        .dropdown-menu.dropdown-menu-end
                          a.dropdown-item(href='#') Weekly
                          a.dropdown-item(href='#') Monthly
                          a.dropdown-item(href='#') Yearly
                  .card-body.pt-0.recent
                    .table-responsive.custom-scrollbar
                      table#recent-order.table.display(style='width:100%')
                        thead
                          tr
                            th
                              .form-check
                                input.form-check-input(type='checkbox' value='')
                                label.form-check-label
                            th No.
                            th Customer Name
                            th ID
                            th Date
                            th City
                            th Status
                            th Amount
                        tbody
                            tr
                              td
                                .form-check
                                  input.form-check-input(type='checkbox' value='')
                                  label.form-check-label
                              td 1
                              td
                                .d-flex
                                  .flex-shrink-0
                                    img(src='../assets/images/dashboard/user/1.png' alt="")
                                  .flex-grow-1.ms-3
                                    a(href="user-profile.html")
                                      h6 Rocky Shoes 
                              td #8934
                              td 01/12/2024
                              td Armenia
                              td 
                                button.btn.btn-primary Paid
                              td $238.80
                            tr
                              td
                                .form-check
                                  input.form-check-input(type='checkbox' value='')
                                  label.form-check-label
                              td 2
                              td
                                .d-flex
                                  .flex-shrink-0
                                    img(src='../assets/images/dashboard/user/2.png' alt="")
                                  .flex-grow-1.ms-3
                                    a(href="user-profile.html")
                                      h6 Nasuha Makusta
                              td #6529
                              td 12/10/2024
                              td Bhutan
                              td 
                                button.btn.btn-secondary Pending
                              td $654.95
                            tr
                              td
                                .form-check
                                  input.form-check-input(type='checkbox' value='')
                                  label.form-check-label
                              td 3
                              td
                                .d-flex
                                  .flex-shrink-0
                                    img(src='../assets/images/dashboard/user/3.png' alt="")
                                  .flex-grow-1.ms-3
                                    a(href="user-profile.html")
                                      h6 Induan Kastorika
                              td #3659
                              td 09/04/2024
                              td Ghana
                              td 
                                button.btn.btn-success Done
                              td $864.35
                            tr
                              td
                                .form-check
                                  input.form-check-input(type='checkbox' value='')
                                  label.form-check-label
                              td 4
                              td
                                .d-flex
                                  .flex-shrink-0
                                    img(src='../assets/images/dashboard/user/4.png' alt="")
                                  .flex-grow-1.ms-3
                                    a(href="user-profile.html")
                                      h6 Pogba Nehuntas
                              td #2158
                              td 10/05/2024
                              td Kenya
                              td 
                                button.btn.btn-danger Cancel 
                              td $951.37
              .col-xl-5.col-lg-5.box-col-5
                .card
                  .card-header.pb-0
                    .header-top
                      h4 Our Growth
                      .dropdown.icon-dropdown
                        button.btn.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                          i.icon-more-alt
                        .dropdown-menu.dropdown-menu-end
                          a.dropdown-item(href='#') Weekly
                          a.dropdown-item(href='#') Monthly
                          a.dropdown-item(href='#') Yearly
                  .card-body
                    #growth-chart
              .col-xl-8.col-lg-8.col-md-7
                .card.transaction-history
                  .card-header.pb-0
                    .header-top
                      h4 Product Valuation
                      .dropdown.icon-dropdown
                        button.btn.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                          i.icon-more-alt
                        .dropdown-menu.dropdown-menu-end
                          a.dropdown-item(href='#') Weekly
                          a.dropdown-item(href='#') Monthly
                          a.dropdown-item(href='#') Yearly
                  .card-body.pb-0
                    .current-sale-container.order-container
                      #orderoverview.overview-wrapper
                      .back-bar-container 
                        #order-bar
              .col-xl-4.col-lg-4.col-md-5
                .card.transaction-history
                  .card-header.pb-0
                    .header-top
                      h4 Transaction History
                      .dropdown.icon-dropdown
                        button.btn.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                          i.icon-more-alt
                        .dropdown-menu.dropdown-menu-end
                          a.dropdown-item(href='#') Weekly
                          a.dropdown-item(href='#') Monthly
                          a.dropdown-item(href='#') Yearly
                  .card-body 
                    .table-responsive.custom-scrollbar
                      table.table.display(style='width:100%')
                        tbody
                          tr
                            td
                              .d-flex
                                span.bg-light-primary.history
                                  svg
                                    use(href='../assets/svg/icon-sprite.svg#send')
                                .flex-grow-1.ms-2
                                  a(href="list-products.html")
                                    span Receipt from external Wallet
                                    h5 Mar 21,2024, 4:45pm
                            td Completed
                            td + $248.00
                          tr
                            td
                              .d-flex
                                span.bg-light-secondary.history
                                  svg
                                    use(href='../assets/svg/icon-sprite.svg#work')
                                .flex-grow-1.ms-2
                                  a(href="list-products.html")
                                    span Process refund to
                                    h5 Feb 20,2024, 2:10pm
                            td Pending
                            td + $548.00
                          tr
                            td
                              .d-flex
                                span.bg-light-success.history
                                  svg
                                    use(href='../assets/svg/icon-sprite.svg#graph')
                                .flex-grow-1.ms-2
                                  a(href="list-products.html")
                                    span Sending to Citizen
                                    h5 Jun 17,2024, 12:45pm
                            td Verified
                            td + $953.00
                          tr
                            td
                              .d-flex
                                span.bg-light-danger.history
                                  svg
                                    use(href='../assets/svg/icon-sprite.svg#payment-bookmark')
                                .flex-grow-1.ms-2
                                  a(href="list-products.html")
                                    span Payment From #12345
                                    h5 Oct 30,2024, 1:31pm
                            td Rejected
                            td + $349.00
              .col-xl-4.col-lg-6.col-md-6
                .card.notifications-tabs
                  .card-header.pb-0
                    .header-top
                      h4 Notifications
                      .dropdown.icon-dropdown
                        button.btn.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                          i.icon-more-alt
                        .dropdown-menu.dropdown-menu-end
                          a.dropdown-item(href='#') Weekly
                          a.dropdown-item(href='#') Monthly
                          a.dropdown-item(href='#') Yearly
                  .card-body 
                    .d-flex.header-tab
                      ul#bottom-tab.nav.nav-tabs.border-tab.mb-0(role='tablist')
                        li.nav-item
                            a#bottom-home-tab.nav-link.nav-border.tab-primary.active.pt-0(data-bs-toggle='tab' href='#bottom-home' role='tab' aria-controls='bottom-home' aria-selected='true')
                              | All
                              span.ms-2.bg-primary 3
                        li.nav-item
                            a#bottom-inbox-tab.nav-link.nav-border.tab-primary(data-bs-toggle='tab' href='#bottom-inbox' role='tab' aria-controls='bottom-inbox' aria-selected='false')
                              | Following
                        li.nav-item
                            a#bottom-contact-tab.nav-link.nav-border.tab-primary(data-bs-toggle='tab' href='#bottom-contact' role='tab' aria-controls='bottom-contact' aria-selected='false')
                              | Archive
                      h6 Mark all as read
                    #bottom-tabContent.tab-content.content-tab
                      #bottom-home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='bottom-tabContent')
                        .d-flex.align-items-center
                          img(src='../assets/images/dashboard/user/5.png' alt="")
                          .flex-grow-1.ms-2
                            a(href="user-profile.html")
                              h5 
                                | Ralph Edwards 
                                strong  wants to edit 
                                |  tetrisly design system
                              span 2hrs Ago
                            button.btn.btn-secondary.mt-1.mb-1 Decline
                            button.btn.btn-primary.mt-1.mb-1 Accept
                          .flex-shrink-0 
                            .activity-dot-primary
                        .d-flex.align-items-center
                          img(src='../assets/images/dashboard/user/6.png' alt="")
                          .flex-grow-1.ms-2
                            a(href="user-profile.html")
                              h5 
                                | Jenny Wilson 
                                strong  Completed 
                                |  Create new component
                              span 2.15pm
                          .flex-shrink-0 
                            .activity-dot-secondary
                        .d-flex.align-items-center.figma-line
                          img(src='../assets/images/dashboard/user/7.png' alt="")
                          .flex-grow-1.ms-2
                            a(href="user-profile.html")
                              h5 Jenny Wilson mentioned you in rewrite button component
                              span 3.10pm
                        .figma-icon 
                          svg.me-2
                            use(href='../assets/svg/icon-sprite.svg#file')
                          .flex-shrink-0 
                            h6 Tet_Dark_Mode_L103.fig
                            span 2.4 MB
                    #bottom-tabContent2.tab-content.content-tab
                      #bottom-contact.tab-pane.fade.show(role='tabpanel' aria-labelledby='bottom-tabContent2')
                        .d-flex.align-items-center
                          img(src='../assets/images/dashboard/user/5.png' alt="")
                          .flex-grow-1.ms-2
                            a(href="user-profile.html")
                              h5 
                                | Ralph Edwards Started Following you.
                              span 35 min Ago
                          .flex-shrink-0 
                            .activity-dot-primary
                        .d-flex.align-items-center
                          img(src='../assets/images/dashboard/user/6.png' alt="")
                          .flex-grow-1.ms-2
                            a(href="user-profile.html")
                              h5 
                                | Jenny Wilson Requested to Follow
                              span 1w Ago
                        .d-flex.align-items-center
                          img(src='../assets/images/dashboard/user/7.png' alt="")
                          .flex-grow-1.ms-2
                            a(href="user-profile.html")
                              h5 Jenny Wilson Started Following you.
                              span 3.10pm
                          .flex-shrink-0 
                            .activity-dot-primary
                        .d-flex.align-items-center.figma-line
                          img(src='../assets/images/dashboard/user/2.png' alt="")
                          .flex-grow-1.ms-2
                            a(href="user-profile.html")
                              h5 
                                | Nasuha Makusta Requested to Follow
                              span 20 min Ago
                    #bottom-tabContent3.tab-content.content-tab
                      #bottom-inbox.tab-pane.fade.show(role='tabpanel' aria-labelledby='bottom-tabContent3')
                        .d-flex.align-items-center
                          img(src='../assets/images/dashboard/user/5.png' alt="")
                          .flex-grow-1.ms-2
                            a(href="user-profile.html")
                              h5 
                                | Ralph Edwards Started Following you.
                              span 35 min Ago
                          .flex-shrink-0 
                            .activity-dot-primary
                        .d-flex.align-items-center
                          img(src='../assets/images/dashboard/user/6.png' alt="")
                          .flex-grow-1.ms-2
                            a(href="user-profile.html")
                              h5 
                                | Jenny Wilson Requested to Follow
                              span 1w Ago
                        .d-flex.align-items-center
                          img(src='../assets/images/dashboard/user/7.png' alt="")
                          .flex-grow-1.ms-2
                            a(href="user-profile.html")
                              h5 Jenny Wilson Started Following you.
                              span 3.10pm
                          .flex-shrink-0 
                            .activity-dot-primary
                        .d-flex.align-items-center.figma-line
                          img(src='../assets/images/dashboard/user/2.png' alt="")
                          .flex-grow-1.ms-2
                            a(href="user-profile.html")
                              h5 
                                | Nasuha Makusta Requested to Follow
                              span 20 min Ago
              .col-xl-4.col-lg-6.col-md-6
                .card.user-country
                  .card-header.pb-0
                    .header-top
                      h4 User By Country
                      .dropdown.icon-dropdown
                        button.btn.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                          i.icon-more-alt
                        .dropdown-menu.dropdown-menu-end
                          a.dropdown-item(href='#') Weekly
                          a.dropdown-item(href='#') Monthly
                          a.dropdown-item(href='#') Yearly
                  .card-body
                    .d-flex 
                      h2.me-2 216.459
                      span.bg-light-success
                        svg
                          use(href='../assets/svg/icon-sprite.svg#up-arrow') 
                      h6.font-success + 5.09%
                    span Increase than last month
                    #world-map2.jvector-map-height
              .col-xl-4
                .card.schedule
                  .card-header.pb-0
                    .header-top
                      h4 Schedule
                      .dropdown.icon-dropdown
                        button.btn.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                          i.icon-more-alt
                        .dropdown-menu.dropdown-menu-end
                          a.dropdown-item(href='#') Weekly
                          a.dropdown-item(href='#') Monthly
                          a.dropdown-item(href='#') Yearly
                  .card-body
                    .timeline-calendar.custom-scrollbar
                      //- div#timeline-calendar(class="custom-calendar")
                      //-   div#calendar(class="time-line")
                      div#calendar-container(class="custom-calendar")
                            div#calendar(class="time-line")
          // Container-fluid Ends
        include ../../components/footer        
    include ../../components/footer-files