/**=====================
  4.3 Update CSS Start
==========================**/
// jsgrid css
.jsgrid-filter-row {
    select,
    input {
        padding: 6px 10px;
        border: 1px solid $horizontal-border-color;
        background: $white;
    }
}
// popover
.popover {
    background-color: $white;
    border: none;
    -webkit-box-shadow: 0 0 20px rgba($primary-color, 0.1);
    box-shadow: 0 0 20px rgba($primary-color, 0.1);
    .popover-header {
        background-color: $theme-medium-color;
        color: $primary-color;
        border-bottom: none;
    }
    .popover-body {
        color: rgba(43, 43, 43, 0.7);
    }
}
.form-select , .form-control{
    &:focus {
        box-shadow: unset;
        border-color: #dee2e6;
    }
}
.dropdown-menu.show {
    background-color: $white;
    z-index: 2;
}
.toast-container {
    position: unset;
}
.animate-widget {
    .p-25 {
        background-color: $white;
    }
}
.iconset {
    .according-menu {
        display: none !important;
    }
}
.btn-close {
    &:focus {
        box-shadow: unset;
    }
}
.flatpickr-day {
    &.endRange {
        &.nextMonthDay {
            background-color: var(--theme-default);
            color: $white;
        }
    }
    &:hover {
        background: var(--theme-default) !important;
    }
}
.flatpickr-day.endRange {
    background: var(--theme-default) !important;
    border-color: var(--theme-default) !important;
}
// tooltip css start
.tooltip {
    &.bs-tooltip-top {
        .tooltip-arrow {
            &:before {
                border-top-color: $theme-medium-color;
            }
        }
    }
    &.bs-tooltip-bottom {
        .tooltip-arrow {
            &:before {
                border-bottom-color: $theme-medium-color;
                border-top-color: transparent;
            }
        }
    }
    &.bs-tooltip-start {
        .tooltip-arrow {
            &:before {
                border-left-color: $theme-medium-color;
                border-top-color: transparent;
            }
        }
    }
    &.bs-tooltip-end {
        .tooltip-arrow {
            &:before {
                border-right-color: $theme-medium-color;
                border-top-color: transparent;
            }
        }
    }
    .tooltip-inner {
        background-color: $theme-medium-color;
        color: $primary-color;
    }
    .tooltip-arrow {
        &:before {
            border-top-color: $theme-medium-color;
        }
    }
}
// tooltip css end
// dropdown css start
.dropdown-basic {
    .dropdown {
        .dropdown-content {
            a {
                padding: 6px 16px;
                color: $dark-editor-document;
                font-size: 13px;
                border-top: 1px solid $light-semi-gray;
                background: $white;
                &:hover {
                    background-color: var(--white) !important;
                }
            }
            .dropdown-header {
                padding: 8px 16px;
                font-weight: 400;
                color: $dark-color;
                font-size: 13px;
            }
        }
    }
    .dropup {
        .dropup-content {
            top: auto;
        }
    }
}
// dropdown css end
.card-header.note-toolbar .dropdown-menu.note-check a i {
    color: var(--theme-default);
    visibility: visible;
}
.card-header.note-toolbar .btn-group .note-table .note-dimension-picker .note-dimension-picker-mousecatcher, .note-popover .popover-content .btn-group .note-table .note-dimension-picker .note-dimension-picker-mousecatcher {
    background-color: $white;
}
.ui-helper-hidden-accessible {
    display: none;
}
.ace-monokai {
    .ace_print-margin {
        background: transparent !important;
    }
}
// accordian css start
.default-according {
    .card {
        .card-header {
            padding: 0;
            border: none;
            border-radius: 0;
            border-radius: 10px;
            &.bg-primary,
            &.bg-secondary {
                .btn {
                    border-color: $transparent-color;
                }
            }
            i {
                position: initial;
                font-size: 20px;
                display: inline-block;
                vertical-align: text-bottom;
                margin-right: 5px;
                [dir="rtl"] & {
                    margin-right: unset;
                    margin-left: 5px;
                }
            }
            h5 {
                margin-top: 0;
            }
            .btn-link {
                padding: 12px 20px;
                width: 100%;
                text-align: left;
                letter-spacing: 0.7px;
                border-radius: 0;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                [dir="rtl"] & {
                    text-align: right;
                }
                @media (max-width: 575px) {
                    padding: 12px 15px;
                }
            }
        }
        .card-body {
            padding: 15px 20px;
            line-height: 22px;
            font-size: 14px;
            border: none;
            border-radius: 0;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            color: $dark-color;
        }
    }
}
.icon-dropdown {
    .dropdown-toggle {
        border: none;
    }
}
.jsgrid-update-button {
    background-position: 2px -333px;
}
.list-circle {
    list-style: circle;
}
.collapse-horizontal {
    .card-body {
        width: 350px;
        @media (max-width: 810px){
            width: 245px;
        }
    }
}
// accordian css end
// tab-bootstrap css start
.nav-tabs {
    border-bottom-color: $light-semi-gray;
    .nav-bottom {
        .nav-item {
            .nav-link.active {
                border-color: $light-semi-gray;
            }
        }
    }
}
.nav-tabs {
    .nav-item {
        &.show {
            .nav-link {
                font-weight: 500;
            }
        }
    }
    .nav-link {
        color: $dark-color;
        &.active {
            font-weight: 500;
        }
    }
    &.nav-bottom {
        .nav-item {
            .nav-link {
                &.active {
                    border-color: $light-gray $light-gray #fff;
                }
            }
        }
    }
}
div.dt-button-collection {
    width: 170px;
}
.dropdown-menu {
    -webkit-box-shadow: 0 0 20px rgba(89, 102, 122, 0.1);
    box-shadow: 0 0 20px rgba(89, 102, 122, 0.1);
    border: none;
    padding: 0;
    z-index: 1;
    .dropdown-item {
        color: #2b2b2b;
        font-size: 13px;
        padding: 6px 12px;
        border-top: 1px solid $light-semi-gray;
        background: $white;
        &:hover {
            background-color: $white;
        }
        &:first-child {
            border-top: none;
        }
    }
    .dropdown-divider {
        margin: 0;
        border-top: 1px solid #cccccc;
    }
}
.blockquote {
    > :last-child {
      margin-top: 0;
    }
}
.modal-content {
    background-color: $white;
}
// tab-bootstrap css end
.border-tab {
    .nav-tabs {
        .nav-item {
            .nav-link {
                &.active {
                    border-bottom: 2px solid $primary-color;
                }
                &.show {
                    border-bottom: 2px solid $primary-color;
                }
                &:focus {
                    border-bottom: 2px solid $primary-color;
                }
            }
        }
    }
}
.timeliny {
    .timeliny-dot::before {
        font-size: $btn-lg-font-size;
    }
}
.component {
    .input-group {
        .btn {
            line-height: 32px;
            text-transform: capitalize;
        }
    }
}
.login-card {
    .login-main {
        .theme-form {
            label {
                font-size: $body-font-size;
            }
            .show-hide {
                top: 50%;
            }
        }
    }
}
// faq css start
.faq-accordion {
    .card {
        .btn-link {
            svg {
                margin-left: 20px;
                @media (max-width: 575.98px) {
                    margin-left: 10px;
                }
            }
        }
    }
}
// faq css end
.job-filter {
    .faq-form {
        .form-control {
            font-size: 14px;
        }
        .search-icon {
            width: 16px;
            height: 16px;
        }
    }
}
// editor css
.note-btn-group {
    .dropdown-toggle  {
        &.show {
            ~ .dropdown-menu {
                display: block;
                top: 30px;
                background-color: var(--white);
            }
        }
    }
}
// owl-carousel css
.carousel {
    .carousel-indicators {
        margin-bottom: 3px;
    }
}
.mouse-wheel {
    .owl-stage-outer {
        .owl-stage {
            width: 5600px !important;
            .owl-item {
                width: 225.333px !important;
            }
        }
    }
}
.carousel-item {
    .carousel-caption {
        width: 100%;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 26px 10px;
        background-color: rgba($dark-card-background, 0.51);
    }
    .carousel-opacity {
        background-color: rgba($light-color, 0.51);
    }
}
.carousel {
    .carousel-control-prev-icon {
        width: calc(23px + (32 - 23) * ((100vw - 320px) / (1920 - 320)));
        height: calc(23px + (32 - 23) * ((100vw - 320px) / (1920 - 320)));
    }
    .carousel-control-next-icon {
        width: calc(23px + (32 - 23) * ((100vw - 320px) / (1920 - 320)));
        height: calc(23px + (32 - 23) * ((100vw - 320px) / (1920 - 320)));
    }
}
// Rating 
.rating-header {
    h4 {
        [dir="rtl"] & {
            direction: ltr;
        }
    }
}
// Animated modal
.animate-img {
    .animate-widget {
        img {
            width: 100%;
            height: 350px;
            margin: 0 auto;
            object-fit: cover;
        }
    }
}
.modal-popup {
    &.modal {
        top: 20%;
        left: 50%;
        transform: translate(-50%, 0);
        .modal-dialog {
            .theme-close {
                width: calc(25px + (40 - 25) * ((100vw - 320px) / (1920 - 320)));
                height: calc(25px + (40 - 25) * ((100vw - 320px) / (1920 - 320)));
                font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1920 - 320)));
            }
        }
    }
}
.animated-modal {
    .form-select {
        @media (max-width:442px) {
            width: 100% !important;
        }
    }
}
// TO-DO scss
.task-container {
    .badge {
        line-height: 13px;
    }
}
// starter kit
.starter-main {
    .alert-primary {
        &.inverse {
            padding: 13px 20px 13px 65px;
            border-color: $primary-color;
            color: $dark-color;
            [dir="rtl"] & {
                padding: 13px 65px 13px 20px;
            }
            &:before {
                content: "";
                position: absolute;
                left: 54px;
                width: 0;
                height: 0;
                border-left: 7px solid $primary-color;
                border-top: 7px solid transparent;
                border-bottom: 7px solid transparent;
                [dir="rtl"] & {
                    border-right: 7px solid $primary-color;
                    border-left: unset;
                }
            }
            i {
                padding: 17px 20px;
                display: flex;
                align-items: center;
                background-color: $primary-color;
                color: $white;
                border-radius: 3px 0 0 3px;
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                [dir="rtl"] & {
                    right: 0;
                    left: unset;
                }
            }
        }
    }
}
.toast-rtl .toast {
    background-color: #fff;
}
.toast .toast-header .toast-warning, .toast .toast-header .toast-success, .toast .toast-header .toast-info {
	background-color: unset;
}
.carousel{
    .carousel-caption{
        h3{
            color: $white;
        }
        &.carousel-opacity{
            h3{
                color: $black;
            }
        }
    }
}
.user-management {
    .card-body {
        border-radius: 15px;
    }
    .blog-tags {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-direction: column;
        @media (max-width: 455px) {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .tags-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba($white , 1);
            width: 55px;
            height: 55px;
            border-radius: 10px;
            flex-shrink: 0;
            svg {
                width: 30px;
                height: 30px;
                stroke: $primary-color;
                fill: $primary-color;
            }
        }
        .tag-details {
            text-align: center;
            h3 {
                color: $white;
                margin-bottom: 10px;
            }
            p {
                font-size: 20px;
                line-height: 24px;
            }
            a{
                color: $white;
            }
        }
    }
}
.by-role {
    gap: 10px;
    overflow-x: auto;
    flex-wrap: unset;
}
.blog-management {
    .card-body {
        border-radius: 15px;
        overflow: hidden;
        padding: 18px 24px;
    }
    .blog-card {
        position: relative;
        padding-right: 235px;
        @media (max-width: 575px) {
            padding: 0;
        }
        .blog-card-content {
            h5 {
                color: $white;
                font-weight: 500;
                font-size: 20px;
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box !important;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                white-space: normal;
            }
            p {
                color: rgba($white , 0.8);
                text-overflow: ellipsis;
                overflow: hidden;
                display: -webkit-box !important;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                white-space: normal;
            }
            .divider-h-line {
                opacity: 0.4;
                background-color: $light-color !important;
            }
            .d-flex {
                align-items: center;
                gap: 50px;
                @media (max-width: 455px) {
                    display: block !important;
                }
                @media (max-width: 1665px) and (min-width: 1400px) {
                    gap: 10px;
                }
                @media (max-width: 720px) and (min-width: 576px) {
                    gap: 10px;
                }
                .blog-tags {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    @media (max-width: 455px) {
                        margin-bottom: 10px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                    .tags-icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: rgba($white , 1);
                        width: 45px;
                        height: 45px;
                        border-radius: 10px;
                        flex-shrink: 0;
                        svg {
                            width: 24px;
                            height: 24px;
                            stroke: $primary-color;
                            fill: $primary-color;
                        }
                    }
                    .tag-details {
                        h2 {
                            color: $white;
                        }
                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .blog-card-image {
            top: 50%;
            right: 0;
            position: absolute;
            transform: translateY(-50%);
            img {
                @media (max-width: 575px) {
                   display: none;
                }
            }
        }
    }
}
.upcoming-box {
    padding: 14px 0px;
    text-align: center;
    p {
        margin-bottom: 8px;
    }
    a {
        &.btn {
            padding: 5px 10px;
        }
    }
    .upcoming-icon {
        svg {
            width: 26px;
            height: 26px;
            stroke: $white;
            fill: $white;
        }
    }
    &:hover {
        .upcoming-icon {
            img , svg {
                transform: rotateY(360deg);
                transition: all .9s ease-in-out;
            }
        }
    }

    .upcoming-icon {
        height: 50px;
        width: 50px;
        margin: 0 auto 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        img {
            transform: rotateY(0);
            transition: all .9s ease-in-out;
        }

    }

    h6 {
        font-weight: 500;
        color: $light-text;
    }

    p {
        font-size: 18px;
        font-weight: 600;

        @media (max-width: 1614px) {
            font-size: 14px;
        }
    }
}
.tag-card {
    @media (max-width: 575px) {
        margin-block: 12px;
    }
}
.role-management {
    .card-body {
        border-radius: 15px;
        overflow: hidden;
        padding: 18px 24px;
    }
    .blog-card {
        position: relative;
        padding-right: 235px;
        @media (max-width: 575px) {
            padding: 0;
        }
        [dir="rtl"] & {
            padding-left: 235px;
            padding-right: unset;
            @media (max-width: 575px) {
                padding: 0;
            }
        }
        .blog-card-content {
            .role-details {
                display: flex;
                align-items: center;
                gap: 15px;
                .role-profile {
                    img {
                        height: 50px;
                        border-radius: 50%;
                    }
                }
                .role-profile-details {
                    h3 {
                        font-weight: 500;
                        color: $white;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        display: -webkit-box !important;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        white-space: normal;
                    }
                }
            }
            .divider-h-line {
                opacity: 0.4;
                background-color: $light-color !important;
            }
            .blog-tags {
                display: flex;
                align-items: center;
                gap: 15px;
                @media (max-width: 455px) {
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                .tags-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: rgba($white , 1);
                    width: 45px;
                    height: 45px;
                    border-radius: 10px;
                    flex-shrink: 0;
                    svg {
                        width: 24px;
                        height: 24px;
                        stroke: $primary-color;
                        fill: $primary-color;
                    }
                }
                .tag-details {
                    h2 {
                        color: $white;
                    }
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
        .blog-card-image {
            top: 50%;
            right: 0;
            position: absolute;
            transform: translateY(-50%);
            [dir="rtl"] & {
                left: 0;
                right: unset;
            }
            img {
                @media (max-width: 575px) {
                   display: none;
                }
            }
        }
    }
}
.total-user {
    min-width: 95px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    h5 {
        text-transform: capitalize;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box !important;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        white-space: normal;
        width: 85px;
        text-align: center;
    }
    span {
        color: $primary-color;
        font-size: 20px;
        font-weight: 600;
    }
}
.divider-h-line {
    height: 1px;
    margin-block: 22px;
}
.dataTables_processing~table tbody tr td .initial-div .initial-letter {
    width: 40px;
    height: 40px;
    min-width: 38px;
    border-radius: 100%;
    display: inline-flex;
    color: var(--theme-default);
    align-items: center;
    justify-content: center;
    background-color: #f4f7f9;
    font-size: 20px;
    text-transform: uppercase;
}
.dataTables_processing {
    ~table {
        thead {
            tr {
                th {
                    min-width: 150px;
                } 
            }
        }
        tbody {
            tr {
                td {
                    .initial-div {
                        .initial-letter {
                            width: 40px;
                            height: 40px;
                            min-width: 38px;
                            border-radius: 100%;
                            display: inline-flex;
                            color: $primary-color;
                            align-items: center;
                            justify-content: center;
                            background-color: $main-body-color;
                            font-size: 20px;
                            text-transform: uppercase;
                        }
                        img {
                            width: 40px;
                            height: 40px;
                            min-width: 38px;
                            border-radius: 100%;
                            border: unset;
                        }
                    }
                }
            }
        }
    }
}
#toast-container {
    &.custom-toast {
        top: 12px;
        .toast {
            border: 1px solid;
            border-radius: 5px;
            font-weight: 500;
            font-size: 16px;
            width: max-content !important;
            background-color: rgba($primary-color, 0.1) !important;
            box-shadow: rgba(29, 35, 39, 0.1) 0px 4px 12px;
    
            &.toast-primary {
                border-color: $primary-color;
                color: $primary-color;
                background-image: url('/public/assets/images/svg-icon/success.svg') !important;
    
                .toast-progress {
                    background-color: $transparent-color;
                }
            }
        }
    }
}
.custom-toast {
    .toast {
        box-shadow: unset !important;
        .toast-message {
            color: $primary-color;
        }
    } 
}
.error {
    margin: 0;
    ~ label {
        margin-top: 10px;
        color: $danger-color !important;
    }
}
.categories-edit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: end;
    .btn {
        padding: 6px calc(10px + (16 - 10) * ((100vw - 320px) / (1920 - 320)));
    }
}
.dd-list {
    .dd-item {
        >button {
            margin-left: 30px;
            margin-top: 6px;
            width: 24px;
            height: 24px;
            [dir="rtl"] & {
                margin-right: 30px;
                margin-left: unset;
                float: right;
            }
        }
        .dd3-handle {
            position: absolute;
            margin: 0;
            left: 0;
            top: 0;
            height: unset;
            cursor: pointer;
            width: 34px;
            text-indent: 30px;
            white-space: nowrap;
            overflow: hidden;
            background-color: $main-body-color;
            border: 1px dashed rgba($black, 0.2);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            padding: 8px 10px;
            [dir="rtl"] & {
                right: 0;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            svg {
                display: block;
                position: absolute;
                left: 8px;
                top: 10px;
                width: 16px;
                height: 16px;
                text-align: center;
                text-indent: 0;
                fill: $theme-font-color;
                font-weight: normal;
                [dir="rtl"] & {
                    right: 8px;
                    left: unset;
                }
            }
        }
        .dd3-content {
            display: block;
            height: unset;
            margin: 14px 0;
            padding: 8px 60px 8px 42px;
            color: $theme-body-font-color;
            text-decoration: none;
            font-weight: 500;
            background-color: $white;
            border: 1px dashed rgba($black, 0.2);
            border-radius: 4px;
            font-size: 14px;
            [dir="rtl"] & {
                padding: 8px 42px 8px 80px;
            }
            &:hover{
                button, a{
                    &.delete-svg, &.edit-icon{
                        opacity: 1;
                        visibility: visible;
                        transition: all 0.2s ease;
                    }
                }
            }
            .modal {
                .modal-content {
                    .modal-body {
                        .main-img {
                            background-color: $main-body-color;
                            width: 80px;
                            height: 80px;
                            border-radius: 100%;
                            margin: 0 auto 10px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            svg {
                                width: 40px !important;
                                height: 40px;
                            }
                        }
                        .text-center {
                            margin: 0 40px;
                        }
                        .modal-title {
                            font-weight: 500;
                            font-size: 22px;
                            margin-bottom: 7px;
                        }
                        p {
                            font-size: 14px;
                            color: $theme-font-color;
                            white-space: normal;
                            line-height: 1.5;
                        }
                    }
                    .modal-footer {
                        .cancel {
                            background-color: $main-body-color;
                            border: unset;
                        }
                    }
                }
            }
        }
    }
    .delete-svg {
        svg {
            position: absolute;
            right: 10px;
            top: 10px;
            width: 18px;
            height: 18px;
            cursor: pointer;
            color: #ff6e70!important;
            [dir="rtl"] & {
                right: unset;
                left: 10px;
            }
        }
    }
    .edit-icon {
        svg {
            position: absolute;
            right: 33px;
            top: 10px;
            width: 18px;
            height: 18px;
            cursor: pointer;
            color: #00a32a!important;
            [dir="rtl"] & {
                right: unset;
                left: 33px;
            }
        }
    }
    button, a{
        &.delete-svg, &.edit-icon{
            border: none;
            background-color: transparent;
            padding: 0;
            opacity: 0;
            visibility: hidden;
            transition: all 0.2s ease;
        }
    }
}
.dd-empty {
    display: none;
}
.dataTables_length {
    select {
        outline: unset;
        border-color: rgba($black, 0.2) !important;
        -webkit-appearance: none;
        appearance: none;
        background-image: url("/public/assets/images/arrow.svg");
        background-repeat: no-repeat;
        background-position: right 0.7rem top 50%;
        background-size: 0.65rem auto;
        [dir="rtl"] & {
            background-position: left 0.7rem top 50%;
        }
    }
}
.custom-input .select2-container .select2-selection--single {
    height: 38px!important;
}
.custom-input .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 18px;
}
.custom-input .select2-container .select2-selection--single .select2-selection__arrow {
    top: 6px;
}
.categories-edit {
    text-align: end;
}
.custom-input {
    .phone-select {
        .select2-container {
            .select2-selection--single {
                height: unset !important;
                border-right: unset !important;
                padding: 0;
                background-color: $main-body-color;
                border-top-right-radius: 0 !important;
                border-bottom-right-radius: 0 !important;
                .select2-selection__rendered {
                    line-height: 21px;
                    padding: 12px 10px !important;
                }
                .select2-selection__arrow {
                    top: 10px;
                }
            }
        }
        input {
            border-top-left-radius: 0!important;
            border-bottom-left-radius: 0!important;
            // &.error {
            //     ~label {
            //         margin-left: -18%;
            //         [dir = "rtl"] & {
            //             margin-left: unset;
            //             margin-right: -18%;
            //         }
            //     }
            // }
            ~span {
                strong {
                    font-weight: 400;
                    color: #F81F58 !important;
                }
            }
        }
    }
    .select2-container {
        .select2-selection--single {
            height: 38px !important;
            .select2-selection__rendered {
                line-height: 18px;
            }
            .select2-selection__arrow {
                top: 6px;
            }
        }
    }
    span{
        &.text-danger{
            strong{
                font-weight: 400;
                color: #F81F58 !important;
            }
        }
    }
}
.phone-select-edit {
    .select2-container {
        .select2-selection--single {
            height: unset !important;
            border-right: unset !important;
            padding: 0;
            background-color: $main-body-color;
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            .select2-selection__rendered {
                line-height: 20px;
                padding: 8px 10px !important;
            }
            .select2-selection__arrow {
                top: 6px;
            }
        }
    }
    input {
        border-top-left-radius: 0!important;
        border-bottom-left-radius: 0!important;
        ~span {
            strong {
                margin-left: -38%;
                [dir = "rtl"] & {
                    margin-left: unset;
                    margin-right: -38%;
                }
            }
        }
    }
}
#draggableMultiple {
    .ui-sortable-handle {
        .card {
            cursor: move;
        }
    }
}
.form-control {
    cursor: text;
}
.form-select {
    cursor: pointer;
}
.edit-profile {
    .profile-title{
        .d-flex{
            .img-70{
                height: 70px;
            }
        }
    }
}
.dataTables_wrapper {
	.dataTable {
		tbody {
			tr {
				td {
					img {
						width: 40px;
						height: 40px;
						min-width: 38px;
						border-radius: 100%;
						border: unset;
					}
				}
			}
		}
	}
}
.multi-images {
    .multi-remove {
        width: fit-content;
        img {
            width: 100px;
            height: 80px;
        }
    }
    .dz-remove {
        margin: 0 auto;
        width: fit-content;
        letter-spacing: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box !important;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        white-space: normal;
    }
}
.comman-image {
    width: fit-content;
    img {
        width: 100px;
        height: 80px;
    }
}
.user-management-page{
    .upcoming-box {
        .upcoming-icon {
            height: 35px;
            width: 35px;
            svg{
                width: 16px;
                height: 16px;
            }
        }
    }
    
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
    bottom: 6px !important;
}
.dz-preview {
    width: fit-content;
    margin: 0 auto;
    .dz-remove{
        letter-spacing: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box!important;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        white-space: normal;
        margin-top: 0;
    }
}
/**=====================
    4.3 Update CSS Ends
==========================**/